[Desktop Entry]
Type=Application
Name=Cthulhu Git
GenericName=Git Client
Comment=Browse a Git repository's branch and commit history
Exec=cthulhu-git %f
Icon=cthulhu-git
Terminal=false
Categories=Development;RevisionControl;
Keywords=git;repository;branch;
StartupWMClass=cthulhu-git
