[Desktop Entry]
Type=Application
Name=Cthulhu Git
GenericName=Git Client
Comment=Show the repository and branch of any folder
Exec=cthulhu-git %f
Icon=cthulhu-git
Terminal=false
Categories=Development;RevisionControl;
Keywords=git;repository;branch;
StartupWMClass=cthulhu-git
